

.skills h2{
	font-weight: bold;
}


#skills{
	padding: 70px 0;
}

#skills .heading{
	border-left: 8px solid #78DEC9;
}

.education_container{
	clear:both;
}
#resume .timeline-content > .timeline-heading {
    display: inline-block;
    padding-bottom: 10px;
}
#resume .timeline-content > .timeline-heading > img{
    width: 70px;
    margin-right: 10px;
    float: left;   
}

.timeline-content .timeline-title {
    color: #78DEC9;
}
/*Time Line*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        background-color: #AECCC6;
        left: 30%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 80px;
        position: relative;
    }
        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 24%;
            background-color: #FEFAEC;
            float: left;
            border: 1px solid #F7F6DE;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #eee;
                border-right: 0 solid #eee;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #FEFAEC;
                border-right: 0 solid #FEFAEC;
                border-bottom: 14px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel .timeline-heading > p {
                margin-bottom: 0;
            }
            .timeline > li > .timeline-panel .timeline-heading > p span {
                font-size: 20px;
            }

        .timeline > li > .timeline-content {
            width: 60%;
            margin-right: 5%;
            background-color: #fff;
            float: right;
            border: 1px solid #ECFFFB;
            border-radius: 2px;
            padding: 30px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

        .timeline > li > .timeline-badge {
            color: #A9EEE6;
            width: 50px;
            height: 50px;
            border: 3px solid #AECCC6;
            line-height: 45px;
            font-size: 2.5em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 30%;
            margin-left: -25px;
            /*background-color: #ffffff;*/
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

.timeline-badge.default {
    background-color: white !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 25px;
    font-weight: bold;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    color: #393E46;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }
    .timeline-body > p > b {
        color: black;
    }

#skills .circle-panel {
    width: 19%;
    display: inline-block;
    text-align: center;
}


#skills .circles {
    text-align: center;
}

#skills .skill_name{
    font-size: 18px;
    font-weight: bold;
}
#skills .other_skills>.sub_heading{
    padding-left: 20px;
}

#skills .other_skills h3{
    font-weight: bold;
    padding-left: 20px;
    border-left: 8px solid #78DEC9;
}

#skills .other_skills p{
    padding-left: 50px;
}

@media (max-width: 767px) {  
    header .header-content .header-content-inner h1{
        font-size: 50px;
    }  
    .timeline-title{
        font-size: 20px;
    }
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(90% - 80px);
        width: -moz-calc(90% - 80px);
        width: -webkit-calc(90% - 80px);
        margin-right: 8%;
        margin-bottom: 8%;
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    .timeline > li > .timeline-content{
        width: 80%;
        text-align: left;
        padding: 15px;
    }
    #about, #skills, #resume, #experience{
        padding: 40px 0;
    }
    ul.circles{
        padding-left: 0px;
    }
    .heading>*{
        padding-left: 0px;
        text-align: left;
    }
    #about img{
        margin-bottom: 20px;
    }
    #about .summary{
        width: 90%;
        margin: 0 auto;
        padding-left: 0px;
    }
    #experience .timeline > li > .timeline-panel:after {
        border-left: 0 solid #F8D098;
        border-right: 14px solid #F8D098;
    }

    #skills .circle-panel {
        width: 45%;
    }
    #skills .other_skills p {
        padding-left: 20px;
        padding-right: 15px;
        text-align: left;
    }
}
